*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Roboto, sans-serif;
}

h3 {
text-align: center;
}
.categorias{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.todo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container-producto {
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: beige;
    border-radius: 5px;
    font-size: small;
    display: flex;
    flex-direction: column;
    
}

.interior-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo-producto{
padding: 1.2rem;
color: #1b1b32;
}
a {
    text-decoration: none;
    color: black;
}