*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b32;
    color: white;
    font-family: roboto, sans-serif;
}


.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.container-producto {

    width: 250px;
    height: 250px;
    background-color: beige;
    border-radius: 5px;
    font-size: small;
    
}

.interior-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}